#Dependencias
node_modules

#Contenido Carpetas
Read/*.*
Result/*.*
Companies/*.*

#Debu
**/*.log
/test-results/
/playwright-report/
/playwright/.cache/

#Testing
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/


#FILES
*.json
*.csv
